:root {
  --code-bg: rgb(50, 55, 75);
  --body-bg: rgb(39, 44, 61);
  --header-bg: rgb(28, 32, 44);
  --symbol: rgb(143, 214, 255);
  --function: rgb(126, 169, 255);
  --variable: rgb(235, 77, 95);
  --declare: rgb(181, 193, 221);
  --string: rgb(200, 255, 137);
  --comment: rgb(136, 136, 136);
  --def: rgb(183, 154, 250);
  --parenthesis: rgb(219, 184, 58);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: var(--body-bg);
  color: white;
  font-family: 'Garamond', 'Georgia', serif;
}

/* CODES */
code {
  font-family: monospace;
  font-size: 1.2rem;
  display: block;
  line-height: 25px;
  color: var(--declare);
}

.indent::before {
  content: '';
  width: 30px;
  display: inline-block;
}

.m {
  margin-left: 50px;
}


.code-area {
  padding: 1em;
  display: block;
  background: var(--code-bg);
  margin-bottom: 1.2em;
  border-radius: 5px;
  border-top: 0.5px solid rgb(33, 35, 49);
}

.symbol {
  color: var(--symbol);
}

.it {
  font-style: italic;
}

.function {
  color: var(--function);
}

.variable {
  color: var(--variable);
}

.declare {
  color: var(--declare);
}

.string {
  color: var(--string);
}

.comment {
  color: var(--comment);
  font-style: italic;
}

.def {
  color: var(--def);
}

.par {
  color: var(--parenthesis);
}



.header {
  width: 100%;
  height: 80px;
  padding: 1em;
  position: fixed;
  background: var(--header-bg);
  top: -100px;
  transition: 0.6s;
}

.header .open {
  position: absolute;
  font-size: 2.8rem;
  transition: 0.5s;
}

.header .head-1024 {
  font-size: 2rem;
  line-height: 40px;
  text-align: right;
  transition: 0.5s;
  display: none;
}

.header a {
  text-decoration: none;
  color: rgb(248, 248, 255);
}

#check {
  display: none;
}

.side-bar-wrapper {
  width: 320px;
  height: 100vh;
  background: var(--header-bg);
  border-right: 1px solid rgb(0, 1, 19);
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.6s;
  padding: 1.5em 0;
}

.side-bar-wrapper .wrapper {
  width: 100%;
  height: auto;
}

.side-bar-wrapper .headline {
  font-size: 3rem;
  text-align: center;
  margin: 0 0.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.side-bar-wrapper .head-doc {
  font-size: 2rem;
  text-align: center;
  margin: 0 0.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.side-bar-wrapper .wrapper .close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  padding: 0.5em;
  display: none;
}

.side-bar-wrapper .wrapper .close:hover,
.open:hover {
  cursor: pointer;
}

.header .side-bar-wrapper #navbar {
  background: var(--header-bg);
  height: 100%;
}

.header .side-bar-wrapper #navbar .nav-header {
  margin-bottom: 1.5em;
}

.header .side-bar-wrapper #navbar ul {
  background: #242938;
  border-bottom: 1px solid rgb(0, 1, 19);
  border-top: 1px solid rgb(0, 1, 19);
  overflow-y: scroll;
  height: 68%;
  list-style: none;
}

.header .side-bar-wrapper #navbar ul li {
  border-bottom: 2px solid var(--body-bg);
  height: auto;
}

.header .side-bar-wrapper #navbar ul li a {
  transition: 0.3s;
  text-decoration: none;
  font-size: 1.52rem;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #e1e1e1;
  padding: 1em 0.5em;
}

.header .side-bar-wrapper #navbar ul li a:hover {
  background: var(--header-bg);
}

#main-doc {
  max-width: 100%;
  min-width: 320px;
  height: 100%;
  margin: 0 0 0 320px;
}

#main-doc .main-wrapper {
  width: 90%;
  margin: 4em auto;
}

#main-doc .main-wrapper .quick-start header {
  font-size: 3.2rem;
  color: rgb(181, 202, 255);
  margin-bottom: 0.4em;
}

#main-doc .main-wrapper .main-section header::before {
  height: 80px;
  content: '';
  display: block;
}

#main-doc .main-wrapper .main-section header {
  font-size: 2.5rem;
  margin-bottom: 0.4em;
  color: rgb(181, 202, 255);
}

#main-doc .main-wrapper .main-section ol {
  margin-bottom: 1em;
}

#main-doc .main-wrapper .main-section ol li {
  font-size: 1.2rem;
  color: rgba(239, 243, 255, 0.774);
  margin-bottom: 0.5;
}

#main-doc .main-wrapper .quick-start p,
#main-doc .main-wrapper .main-section p {
  font-size: 1.3rem;
  color: rgba(245, 247, 255, 0.774);
  margin-bottom: 1em;
}

#main-doc a {
  text-decoration: none;
  color: var(--symbol);
  border-bottom: 1px dotted var(--symbol);
}

hr {
  border-bottom: 1px solid var(--body-bg);
}

.sub-bg {
  width: 100%;
  padding: 1em 0.5em;
  border-top: 1px solid rgb(33, 35, 46);
  border-bottom: 1px solid rgb(33, 35, 46);
  background: rgb(43, 49, 68);
  margin-bottom: 1em;
}

.sub-header {
  font-size: 1.8rem !important;
  color: rgba(213, 222, 255, 0.774) !important;
  margin: 0 !important;
  margin-bottom: 1em !important;
}

/* Below 1024px Width DEVICES */
@media (max-width: 1025px) {
  #main-doc {
    margin: 5em 0;
  }

  .side-bar-wrapper .wrapper .close {
    display: inline;
  }

  .side-bar-wrapper {
    left: -350px;
    background: var(--header-bg);
  }

  #check:checked~.side-bar-wrapper {
    left: 0;
  }

  #check:checked~.open {
    opacity: 0;
  }

  .header .head-1024 {
    display: block;
  }

  #check:checked~.head-1024 {
    opacity: 0;
  }

  .header {
    top: 0;
  }
}

@media (max-width: 425px) {
  .header .head-1024 {
    font-size: 1.5rem;
  }
}